body{
  font-family: "Avenir Next";
  width: 600px;
}

li{
  list-style: none;
}

/*タイトル部分 */
.title{
  background-color: blue;
  color:#fff;
  height: 120px;
}

.title-logo{
  float: left;
  font-size: 90px;
  margin-top: 15px;
  margin-left: 20px;
}
title-icon{
  float:left;
}
.title-icon img{
  float: right;
  padding-right: 30px;
  width: 64px;
  height:64px;
  padding-top:30px;
}
/*入力部分*/
.submit{
  margin-bottom: 15px;
}

.submit{
  height: 50px;
}

.text{
  float: left;
  width: 500px;
  margin-bottom: : 20px;
}

.submit-pin{
  float: left;
width: 30px;
  margin-left: 10px;
  margin-top: 5px;
  background: #dee7ec;
}
/*リスト部分*/
.contents{
  height: 800px
  margin-top: 50px;
}

.contents li{
  border-bottom: 2px solid #dee7ec;
  font-size: 12px;
  margin: 5px;
}
