body{

  font-family: "ヒラギノ角ゴ ProN W3";
  width: 600px;
  float: center;

}

li{
  list-style: none;
}


#ToDoList{
  position: relative;
  height: 600px;
  width: 380px;
  background: #FFF;
  border: #4c66a4 solid 6px;
  margin: 50px auto ;
  padding: 3% 5%;
  overflow: hidden;
}

/*タイトル部分 */
.title{
  background-color: blue;
  color:#fff;

  height: 50px;

}

.title-logo{
  float: left;

  font-size: 20px;

  margin-top: 15px;
  margin-left: 20px;
}
title-icon{
  float:left;
}
.title-icon img{
  float: right;
  padding-right: 30px;

  width: 30px;
  height:30px;
  margin-top: 10px;

}
/*入力部分*/
.submit{
  margin-bottom: 15px;
  height: 50px;
}

.submit:after {
    content: "";
    display: table;
    clear: both;
}

.text{
  float: left;

  width: 300px;

  margin-bottom: : 20px;
  margin-top: 20px;
}

.submit-pin{
  float: left;

  width: 40px;
  margin-left: 10px;
  margin-top: 20px;

  background: #dee7ec;
}
/*リスト部分*/
.contents{
  height: 800px
  margin-top: 50px;

  border-bottom: solid #dee7ec;
}
#myUL{
  margin-bottom: 0px;
  padding-left: 0px;

}
#checkbox{
  height: 18px;
  width: 18px;
  float: right;
}
#deletebox{
  height: 18px;
  width: 18px;
  float: right;
}
.contents li{

  font-size: 15px;

}


