body{
  margin: auto;
  padding-top: 20px;
  font-family: 'Vollkorn', serif;
  width: 600px;
  float: center;
  background-image: url('paper.jpeg');
  background-size: cover;
  color: #212121;
}



li{
  list-style: none;
}


#ToDoList{
  position: relative;
  height: 600px;
  width: 380px;
  background-color: rgba(0,0,0,0);
  border: #212121 solid 2px;
  padding: 20px;
  margin: auto;
}



/*タイトル部分 */
.title{
  color:#212121;
  height: 50px;

}

.title-logo{
  float: left;

  font-size: 30px;

  margin-top: 15px;
  margin-left: 20px;
}
title-icon{
  float:left;
}
.title-icon img{
  float: right;
  padding-right: 30px;

  width: 30px;
  height:30px;
  margin-top: 10px;

}
/*入力部分*/
.submit{
  margin-bottom: 15px;
  height: 50px;
}

.submit:after {
    content: "";
    display: table;
    clear: both;
}

.text{
  float: left;

  width: 300px;

  margin-bottom: : 20px;
  margin-top: 20px;
}

.submit-pin{
  float: left;
  width: 40px;
  margin-left: 10px;
  margin-top: 20px;
  color: #fff;
  background-color: #414141;}


/*リスト部分*/
.contents{
  height: 800px
  margin-top: 50px;
}

table{
  border-bottom: solid #212121 1px;
}

.maintext{
  width: 350px;
}


#myUL{
  margin-bottom: 0px;
  padding-left: 0px;

}
#checkbox{
  height: 18px;
  width: 18px;
  float: right;
}
#deletebox{
  margin-left: auto;
  height: 18px;
  width: 18px;
  float: right;
}

.contents li{
  font-size: 15px;
}
