body{
  font-family: "ヒラギノ角ゴ ProN W3";
  width: 600px;
  float: center;
  color: #222222;
}

li{
  list-style: none;
}

ul{
  font-size: 12px;
}

#ToDoList{
  position: relative;
  height:1000px;
  width: 500px;
  background:#EEEEEE;
  border: #4c66a4  solid 6px;
  margin: 50px auto ;
  padding: 3% 5%;
  overflow: hidden;
}
/*タイトル部分 */
.title{
  background-color: #4c66a4;
  color:#fff;
  height: 50px;
}

.title-logo{
  float: left;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 20px;
}
title-icon{
  float:left;
}
.title-icon img{
  float: right;
  padding-right: 30px;
  width: 30px;
  height:30px;
  margin-top: 10px;
}
/*入力部分*/
.submit{
  margin-top: 30px;
  margin-bottom: 15px;
  height: 200px;
  border : 1px solid #cccccc;
  border-radius : 7px;
  box-shadow : 0 0 7px rgba( 0, 0, 0, 0.2 );
  background: white;
}

dl{
  height: 145px;
  margin-bottom: 0px;
}

dt{
  float: left;
  width: 40px;
  font-size: 10px;
  padding-left:30px;
}

.submit:after {
    content: "";
    display: table;
    clear: both;
}

#myInput{
  text-align: left;
  width: 300px;
  height: 80px;
  margin: 0px 50px 20px 30px;
  font-size:10px;
  border:1px solid #dee7ec;
  float: left;
  background:#EEEEEE;
}

p{
  width: 400px;
  margin: 0px 50px 0px 50px;
  border-top: 1px lightgray solid;
}
.submit-pin{
  width: 40px;
  background: #dee7ec;
  margin-top: 4px;
  margin-left: 180px;
}

#place{
  width: 300px;
  margin: 0px 50px 20px 30px;
  background:#EEEEEE;
  border:1px solid #dee7ec;
}
/*リスト部分*/
.contents{
  width : 450px;
  height: 80px;
  margin : 40px auto;
  padding : 15px 0 20px;
  border : 1px solid #cccccc;
	border-radius : 7px;
	box-shadow : 0 0 7px rgba( 0, 0, 0, 0.2 );
  background: white;
}

.contentslist{
  height: 75px;
}

#myUL{
  height: 30px;
  margin: 0px;
  padding-left: 20px;
}

#postedplase{
  border-bottom:solid #888888 thin;
  display: inline;
  height: 15px;
  margin: 0px;
  padding-left: 10px;
}

.i-ne{
  float: right;
  padding-right: 20px;
  padding-top: 20px;
}

#heart, #delete{
  width: 20px;
  height: 20px;
}
#delete{
  float: right;
  padding-right: 5px;
  padding-top: 20px;
}

#counter{
  float: right;
  padding-left: 0px;
  margin: 0px;
}
